# Ignore PrePros config
# *.config

# Ignore download folders
download/

# Ignore Sass
.sass-cache/

# Ignore executables
*.exe
*.out
*.app
*.ipa

# Ignore dependency directories (if applicable)
node_modules/

# Ignore Visual Studio Code folder, except specific settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Ignore Local History for Visual Studio Code
.history/
