# Ignore download folders
download/

# Ignore Sass
.sass-cache/

# Ignore executables
*.app
*.exe
*.ipa
*.out

# Ignore dependency directories (if applicable)
node_modules/

# Ignore vscode folder, except specific settings
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.code-workspace

# Ignore Local History for Visual Studio Code
.history/
