// INCLUDE CUSTOM VARIABLE DEFAULT OVERRIDES HERE
// - Clone the needed vars from the Bootstrap _variables file and override
// - Add your own custom variables needed for the rest of your application
// - Using your application name is sometimes helpful

// Import zero-tracking and non-logging fonts
@import url(https://fonts.bunny.net/css?family=roboto:300,300i,500,500i,700,700i,900,900i);

// Color variables deliberately start with 'clr-' so they don't conflict
// with Bootstrap's 'color-' declarations.

// Colors
$clr-primary: #0B486B;
$clr-secondary: #3B8686;

// Most sites rarely pass the 5th, but if you are interested... the sequence
// continues with tertiary (3rd), quaternary (4th), quinary (5th), senary (6th),
// septenary (7th), octonary (8th), nonary (9th), and denary (10th).

$clr-bg: #ffffff;

// Fonts
$font-main: 'Roboto', Arial, Verdana, "Helvetica Neue", sans-serif;
$font-host: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial,
  Verdana, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-color: #0B486B;
$font-size: 16px;

// Backgrounds (example)
$background-radial: radial-gradient(
  99.31% 99.31% at 0% 0.69%,
  $clr-secondary 0%,
  $clr-primary 100%
);

// Overrides for Bootstrap
$primary: $clr-primary;
$secondary: $clr-secondary;
