// INCLUDE CUSTOM VARIABLE DEFAULT OVERRIDES HERE
// - Clone the needed vars from the Bootstrap _variables file and override
// - Add your own custom variables needed for the rest of your application

// VARS > OVERRIDES FOR BOOTSTRAP
$primary: #346908;
$secondary: #529120; // $gray-600 !default;

// VARS > CUSTOM APPLICATION VARIABLES
// Using your application name is sometimes helpful
$appname-font: Roboto, Arial, Verdana, "Helvetica Neue", sans-serif;
$appname-font-host: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial,
  Verdana, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$appname-font-base-color: #000000;
$appname-font-base-size: 16px;
