// INCLUDE CUSTOM VARIABLE DEFAULT OVERRIDES HERE
// - Clone the needed vars from the Bootstrap _variables file and override
// - Add your own custom variables needed for the rest of your application
// - Using your application name is sometimes helpful

// Colors
$appname-color-primary: #0B486B;
$appname-color-secondary: #3B8686;

$appname-color-bg: #ffffff;

// Fonts
$appname-font: Roboto, Arial, Verdana, "Helvetica Neue", sans-serif;
$appname-font-host: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial,
  Verdana, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$appname-font-color: #0B486B;
$appname-font-size: 16px;

// Backgrounds (example)
$appname-background-radial: radial-gradient(
  99.31% 99.31% at 0% 0.69%,
  $appname-color-secondary 0%,
  $appname-color-primary 100%
);

// Overrides for Bootstrap
$primary: $appname-color-primary;
$secondary: $appname-color-secondary;
